{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div class='container comment'>
    <div style="margin:0 auto"class="col-md-8">
            <div class="card">{{pitch.title}}</div><br>
            <div class="panel pitchcomment">
                <p>{{ pitch.content }}</p>
                <p><strong>by: {{ pitch.user.username }}</strong></p>
            </div>
            <div>
                {% for comment in comments %}
                <div class='panel'>
                    <span><strong>{{ comment.user.username }}</strong></span><br>
                    <span>{{comment.comment}}&NonBreakingSpace;&nbsp;{{comment.posted.strftime('%b %d, %Y')}}</span><br><br>
                </div>
                {% endfor %}
            </div>
            <div>
                {{wtf.quick_form(comment_form)}}
            </div>
        </div>
    </div>
    </div>
</div>
<footer class='footer'>Copyright 2020 | PitchIt</footer>
{% endblock %}