{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Pitch</div>
            <div class="panel-body">
                <p>{{ pitch.content }}</p>
                <p><strong>by: {{ pitch.user.username }}</strong></p>
            </div>
            <div class="card p-5 bg-info">
                {{wtf.quick_form(comment_form)}}
            </div>
        </div>
        <div>
            <h1>Comments</h1>
            {% for comment in comments %}
            <div class="panel panel-default">
                <div class="panel-body">
                <p>Comment By:{{ comment.user.username }}</p>
                <p>{{ comment.comment }}</p>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
</div>
{% endblock %}