{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class='container-fluid'>
  <button class="btn btn-outline-info"><a href="{{url_for('main.new_pitch')}}"><strong><i class="fas fa-plus"></i>  Add your pitch</strong></a></button></br><br>

<div class='row'>
  <div class='col-md-3 categories'>
    <div class='card'>
      <p><a href="{{url_for('main.pitch_general')}}">General</a></p><hr>
      <p><a href="{{url_for('main.pitch_interview')}}">Interview</a></p><hr>
      <p><a href="{{url_for('main.pitch_advertisement')}}">Advertisement</a></p><hr>
      <p><a href="{{url_for('main.pitch_project')}}">Projects</a></p><hr>
      <p><a href="{{url_for('main.pitch_pickupline')}}">Pickup Lines</a></p><hr>
      
      </div>
  </div>
  <div class='col-md-9'>
    {{ macro.displayPitches(pickupline) }}
  </div>
</div>
<footer class='footer'>Copyright 2020 | PitchIt</footer>
{% endblock %}