{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class='container-fluid'>
  <button class="btn btn-outline-info"><a href="{{url_for('main.new_pitch')}}"><strong><i class="fas fa-plus"></i>  Add your pitch</strong></a></button></br><br>

<div class='row'>
  <div class='col-md-3 categories' style='border-right:solid 1px lightgrey;'>
    <div class='card'>
      <p><a href="{{url_for('main.pitch_general')}}">General</a></p><hr>
      <p><a href="{{url_for('main.pitch_interview')}}">Interview</a></p><hr>
      <p><a href="{{url_for('main.pitch_advertisement')}}">Advertisement</a></p><hr>
      <p><a href="{{url_for('main.pitch_project')}}">Projects</a></p><hr>
      <p><a href="{{url_for('main.pitch_pickupline')}}">Pickup Lines</a></p><hr>
      
      </div>
  </div>
  <div class='col-md-9'>
    {{ macro.displayPitches(project) }}
  </div>
</div>
<footer class='footer' style='position:fixed;left:0;bottom:0;background-color:rgb(15, 40, 61);padding:15px;text-align:center;width:100%;color:white;'>Copyright 2020 | PitchIt</footer> 
{% endblock %}